* {
    font-family: 'Roboto', sans-serif;
    color: #128FC8;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


.title {
    text-align: center;
}


#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.scroll {
    width: 60px;
    height: 60px;
    border: 2px solid #128FC8;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;

    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 19.5px;
        width: 18px;
        height: 18px;
        border-left: 2px solid #128FC8;
        border-bottom: 2px solid #128FC8;
        transform: rotate(-45deg);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(20px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}


#intro {
    background-color: white;
    text-align: center;
}

#intro a {
    font-size: 28px;
}

#intro h2 {
    font-size: 50px;
}

.desc {
    text-align: center;
    color: #128FC8;
    width: 100%;
    background-color: rgb(228, 225, 225);
}

.desc h2 {
    font-size: 50px;
    color: #183153;
}

.desc strong {
    color: #128FC8;
}

.desc p {
    font-size: 30px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;    
}

.process {
    text-align: center;
    display: inline;
}

.process h2 {
    font-size: 50px;
    color: #183153;
}

.process strong {
    color: #128FC8;
}

#process li {
    display: inline-table;
    margin-right: 20px;
    width: 30%;
    padding: 0%;
    background-color: rgb(228, 225, 225);
    height: 100px;
    box-sizing: border-box;
    border-radius: 16px;
}

.process img {
    width: 50px;
    height: 50px;
}

.process h3 {
    font-size: 20px;
    color: #183153;
}

.process p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.detail {
    text-align: center;
    color: white;
    font-size: 28px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
}

.detail img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    opacity: 25%;
}

#quote {
    color: #128FC8;
    max-width: 500px;
    padding: 10px 20px;
    background: white;
    margin: 10px auto;
    padding: 20px;
    border-radius: 16px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    width: 210px;
    height: 50px;
    padding: 0 16px;
    background: transparent;
    border-radius: 12px;
    border: 1px solid #128FC8;
    color: #128FC8;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    animation: shake_541 0.14s 3;
    font-size: 18px;
}

input:valid {
    border-color: #128FC8;
    animation: none;
}

@keyframes shake_541 {

    0%,
    100% {
        translate: 0;
    }

    25% {
        translate: 8px 0;
    }

    75% {
        translate: -8px 0;
    }
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #128FC8;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: black;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.complete {
    max-width: 500px;
    padding: 10px 20px;
    background: white;
    margin: 10px auto;
    padding: 20px;
    border-radius: 16px;
    font-size: 24px;

}

footer {
    text-align: center;
}

.footImg li {
    display: inline-table;
    margin-right: 20px;
    width: 200px;
    padding: 0%;
    height: 70px;
    box-sizing: border-box;
}

.footImg img {
    width: 100px;
}

.footImg h4 {
    color: #183153;
}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #128FC8;
    width: 100%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 3s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}