* {
    font-family: 'Roboto', sans-serif;
    color: #128FC8;
}

#title {
    text-align: center;
}

#intro {
    background-color: white;
    text-align: center;
}

#intro a {
    font-size: 28px;
}

#intro h2 {
    font-size: 50px;
}

#desc {
    text-align: center;
    color: #128FC8;
    width: 100%;
    height: 700px;
}

#desc p{
    font-size: 30px;
}

.detail {
    text-align: center;
    color: white;
    font-size: 28px;
    background-image: url('https://images.pexels.com/photos/1105766/pexels-photo-1105766.jpeg');
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
}

#quote {
    color: #128FC8;
    max-width: 500px;
    padding: 10px 20px;
    background: white;
    margin: 10px auto;
    padding: 20px;
    border-radius: 16px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    width: 210px;
    height: 50px;
    padding: 0 16px;
    background: transparent;
    border-radius: 12px;
    border: 1px solid #128FC8;
    color: #128FC8;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    animation: shake_541 0.14s 3;
    font-size: 18px;
}

input:valid {
    border-color: #128FC8;
    animation: none;
}

@keyframes shake_541 {

    0%,
    100% {
        translate: 0;
    }

    25% {
        translate: 8px 0;
    }

    75% {
        translate: -8px 0;
    }
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #128FC8;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: black;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.complete {
    max-width: 500px;
    padding: 10px 20px;
    background: white;
    margin: 10px auto;
    padding: 20px;
    border-radius: 16px;
    font-size: 24px;

}

footer {
    text-align: center;
}